{% extends "base.html" %}

{% block content %}
<div class="container-for-form">
    <div class="card">
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <h3 class="art">article</h3>
            <h3 class="bod">body</h3>
            {{ form.as_p }}
            <input type="submit" value="Create" class="button">
        </form>
    </div>
</div>
{% if obj.get_image_name %}
    <h1>
        <mark>image: {{ obj.get_image_name }} added successfully</mark>
    </h1>
{% endif %}
{% endblock %}


